extend layout

block content

  div(class="couragelogo")
    div
  h1 Courage
  h2 Community Encouragement
  div(class="welcometext")
    p.
      Courage allows communities to come together and
      encourage each other by creating mosaics filled
      by their messages.
