doctype
html
	head
		title Courage
		//these should probably end up in the body eventually. Here for convenience
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		script(src="/js/lib/knockout.js")
		script(src="/js/lib/knockout-mapping.js")
	body
		- if (!user)
			p
				a(href="/") Home
				|
				a(href="/login") Log In
				|
		- else
			p
				a(href="/") Home
				|
				a(href="/account") Account
				|
				a(href="/mosaic") New Mosaic
				|
				a(href="/logout") Log Out
		#content
			block content