doctype
html
	head
		title Courage
		//these should probably end up in the body eventually. Here for convenience
		link(rel="stylesheet",href="/css/styles.css")
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		script(src="/js/lib/knockout.js")
		script(src="/js/lib/knockout-mapping.js")
		script(src="/js/util/ko-extensions.js")
		script(src="/js/lib/knockout-validation.js")
	body
		div(id="toolbar")
			- if (!user)

				a(href="/", class="home") Courage
				a(href="/login") Log In
			- else

				a(href="/logout") Log Out
				a(href="/account") Account
				a(href="#",id="newmosaic") New Mosaic
				a(href="/",class="home") Courage
		#content
			block content
		script(src="/js/newMosaic.js")