extend layout

block content
  div(id="mosaicpage")
    - if (!mosaic)
      h2 No Mosaic Found
    - else
      div(class="sidebar")
        h2 #{mosaic.name}
        p(class="description") #{mosaic.description}

      div(id="messageList")
        a(id="newmessagebutton",href="#") New Message
        // ko foreach:messages
        div(class="message", data-bind="click:displayMessage")
          span(class="snippet",data-bind ="text:snippet")
          span(class="writername", data-bind = "text:firstname()+' '+lastname()")
        // /ko
  script(src="/js/mosaicPage.js")
