extend layout

block content
  div(id="mosaicpage")
    - if (!mosaic)
      h2 No Mosaic Found
    - else
      h2 #{mosaic.name}
      p(class="description") #{mosaic.description}
      a(id="newmessagebutton",href="#") New Message

      div(id="messageList", data-bind="foreach:messages")
        p Snippet
        span(data-bind ="text:snippet")
        p Message
        p(data-bind = "text:message")

  script(src="/js/mosaicPage.js")
