extend layout

block content
  div(id="mosaicPage")
    - if (!mosaic)
      h2 No Mosaic Found
    - else
      div(class="sidebar")
        h4 #{mosaic.name}
        p #{mosaic.description}
      a(id="newmessagebutton",href="#") New Message

      div(id="messageList", data-bind="foreach:messages")
        p Snippet
        span(data-bind ="text:snippet")
        p Message
        p(data-bind = "text:message")

  script(src="/js/mosaicPage.js")
