extend layout

block content
  div(id="mosaicform")
    h3 Hi #{user.firstname}
    p Start a new mosaic here
    hr
    p Mosaic Name:
    input(data-bind="value:name")
    p Mosaic Description
    textarea(rows="4", cols="50", data-bind="value:description", placeholder="Enter a description")
    p Recipient Name
    input(data-bind="value:target.name.givenName", placeholder="First Name")
    input(data-bind="value:target.name.familyName", placeholder="Last Name")
    p Recipient Email
    input(data-bind="value:target.emails[0].value")
    a(href="#", id="newmosaicbutton") OK
    div(id="message")

  script(src="js/newMosaic.js")