extend layout

block content

  - if (!mosaic)
    h2 No Mosaic Found
  - else
    h2 Mosaic #{mosaic.name}
    p #{mosaic.description}
    div(id="messageform")
      h3 Create new Message
      p Snippet
      input(data-bind ="value:snippet")
      p Message
      textarea(rows = "4", cols = "50",id = "newmessage",data-bind = "text:message")
      a(href="#",id="submitmessage") Submit Message

  script(src="/js/mosaicPage.js")
