extend layout

block content
  div(id="mosaicpage")
    - if (!mosaic)
      h2 No Mosaic Found
    - else
      h2 #{mosaic.name}
      p(class="description") #{mosaic.description}
      a(id="newmessagebutton",href="#") New Message

      div(id="messageList", data-bind="foreach:messages")
        div(class="message", data-bind="click:displayMessage")
          span(class="snippet",data-bind ="text:snippet")
          span(class="writername", data-bind = "text:firstname()+' '+lastname()")

  script(src="/js/mosaicPage.js")
