body{background-color:#fff;width:100%}
#toolbar{background-color:#808080;height:30px;width:100%}
#toolbar a{display:block;float:left;margin:0 5px 0 5px;height:30px;background:#5a5a5a;color:#f00;text-decoration:none}
