
defaultbutton()
  background-color:$darkred
  color:$white
  text-decoration:none
  height:50px
  text-align:center
  font: 20px/50px $helv
  display: block
  cursor:pointer

activedefaultbutton()
  background-color:$black



dialogCloseButton()
  display:block
  width:30px
  height:30px
  background-color:$darkred
  font: 25px/30px $helv
  text-align:center
  color:$white
  cursor:pointer
  relative top 0  right -30px
  float:right

activeDialogCloseButton()
  background-color:$black