div(id="messagedisplaybox")
  a(class="closebutton") x
  div(id ="snippetdisplay",data-bind ="text:snippet")
  div(id = "messagedisplay", data-bind = "text:message")
  div(id = "signature", data-bind = "text:'- '+firstname()+' '+lastname()")