div(id="mosaicform")
  a(class="closebutton") x
  h3 Create A New Mosaic
  div
    label Mosaic Name
    input(class="mosname",data-bind="value:name")
  div
    label Mosaic Description
    textarea(class="desc",rows="4", cols="50", data-bind="value:description", placeholder="Enter a description")
  div
    label Recipient Name
    input(class="fname",data-bind="value:target.name.givenName", placeholder="First Name")
    input(class="lname",data-bind="value:target.name.familyName", placeholder="Last Name")
  div
    label Recipient Email
    input(class="email",data-bind="value:target.emails[0].value")
  div
    a(href="#", id="newmosaicbutton") Create

  div(id="message")

