$white = white;
$grey = grey;
$red = red

body
  background-color:$white
  width:100%


#toolbar
  background-color:$grey
  height: 30px
  width:100%

#toolbar a
  display:block
  float: left
  margin: 0 5px 0 5px
  height:30px;
  background: darken($grey,30%)
  color: $red
  text-decoration:none