.googlebutton
  display:block
  background-color:$red
  width:300px
  height:40px
  font: 25px/40px Helvetica, Arial, sans-serif
  color:$white
  text-decoration:none
  border-radius: 1px
  center: 0
  margin-top: 100px
  text-align:center
  vertical-align:center

.googlebutton:active
  color:$silver
  background-color:$darkred