.couragelogo
  margin-top: 50px
  background-color:$red
  height:250px
  width:250px
  display:block
  margin-left: auto;
  margin-right: auto
  border-radius: 50%;

div.couragelogo div
  background: url("/images/flame200.png") repeat $white
  display:block
  width:200px
  height:200px
  margin-top:30px;
  margin-left: auto
  margin-right: auto
  border-radius: 50%;
  relative: top 25px