#mosaicdialog
  background-color:$overlay
  width:100%
  height:100%
  z-index:100
  display:block;
  position:absolute;
  top:0
  left: 0



#mosaicform
  center:0
  width:600px
  background-color:$red
  margin-top:100px
  padding: 0px 0px 20px 10px
  display:block
  overflow:hidden;

a.closebutton
  display:block
  width:30px
  height:30px
  background-color:$darkblue
  float:right
  font: 25px/30px $helv
  text-align:center
  color:$white
  cursor:pointer

a.closebutton:active
  background-color:$black

#mosaicform h3
  text-align:center
  font:30px/30px $helv
  color:$black
  display:block

#mosaicform div
  display:block
  float:left
  width:600px
  margin: 10px 0 0 0

#mosaicform label
  font: 20px/25px $helv
  margin-right:20px
  width:150px
  display:block
  float:left

#mosaicform input,textarea
  display:block
  float:left
  border-radius:5px
  background-color:$white
  bodytext: 0
  color:$black
  width:400px

#mosaicform input
  height: 24px

/* Individual form sizes */

#mosaicform .fname
  width:180px
  margin-right: 34px
#mosaicform .lname
  width:180px

/* Input button */

#mosaicform #newmosaicbutton
  center:0
  background-color:$darkblue
  width:200px
  color:$white
  text-decoration:none
  height:50px
  text-align:center
  font: 20px/50px $helv

#mosaicform #newmosaicbutton:active
  background-color:$black




/** Placeholder color fixes */

#mosaicform ::-webkit-input-placeholder
     color: $darkgrey

#mosaicform :-moz-placeholder
   color: $darkgrey


#mosaicform ::-moz-placeholder
   color: $darkgrey


#mosaicform :-ms-input-placeholder
   color: $darkgrey



