#mosaicdialog
  dialog 0

#mosaicform
  dialogform 0

a.closebutton
  dialogCloseButton 0

a.closebutton:active
  activeDialogCloseButton 0

#mosaicform h3
  text-align:center
  font:30px/30px $helv
  color:$black
  display:block

#mosaicform div
  display:block
  float:left
  width:600px
  margin: 10px 0 0 0

#mosaicform label
  dialogLabel 0

#mosaicform input,textarea
  dialogInput 0

#mosaicform input
  height: 24px
  padding-left: 3px

/* Individual form sizes */

#mosaicform .fname
  width:190px
  margin-right: 16px
#mosaicform .lname
  width:190px

/* Input button */

#mosaicform #newmosaicbutton
  center:0
  background-color:$darkblue
  width:200px
  color:$white
  text-decoration:none
  height:50px
  text-align:center
  font: 20px/50px $helv

#mosaicform #newmosaicbutton:active
  background-color:$black




/** Placeholder color fixes */

#mosaicform ::-webkit-input-placeholder
     color: $darkgrey

#mosaicform :-moz-placeholder
   color: $darkgrey


#mosaicform ::-moz-placeholder
   color: $darkgrey


#mosaicform :-ms-input-placeholder
   color: $darkgrey




