

#mosaicpage h2
  color:$red

#newmessagebutton
  display:block;
  background-color:$darkblue
  color:$white
  text-decoration:none
  height:30px
  width:150px
  fixed: top 40px right 20px
  text-align:center
  font: 20px/30px $helv
  cursor:pointer

#newmessagebutton:hover
  background-color:$black

#mosaicpage p.description
  bodytext :0
  display:block;
  width:300px;
  float:left
  margin: 20px

#messagedialog
  background-color:$overlay
  width:100%
  height:100%
  z-index:100
  display:block;
  position:absolute;
  top:0
  left: 0


#messageList
  width:400px
  display:block
  float:left;
  color:$black
  bodytext:0

#messageList .message
  display:block;
  height:90px;
  background-color:$red
  margin-bottom:20px
  float:left


#messageList .message span
  display:block;
  float:left;
  margin: 10px

#messageList span.snippet
  width:250px;
#messageList span.writername
  width:100px;


#messageform
  width:600px
  background-color:$red
  margin-top:100px
  padding: 0px 0px 20px 10px
  overflow:hidden
  center:0

#messageform h3
  text-align:center
  font:30px/30px $helv
  color:$black
  display:block

#messageform div
  display:block
  float:left
  width:600px
  margin: 10px 0 0 0

#messageform label
  font: 20px/25px $helv
  margin-right:20px
  width:150px
  display:block
  float:left

#messageform input,textarea
  display:block
  float:left
  border-radius:5px
  background-color:$white
  font: $bodytext
  color:black
  width:400px

#messageform #submitmessage
  center:0
  background-color:$darkblue
  width:200px
  color:$white
  text-decoration:none
  height:50px
  text-align:center
  font: 20px/50px $helv

#messageform #submitmessage:active
  background-color:$black
