
.sidebar
  float:left
  width: 300px
  background: $silver
  padding:10px
  margin-top:100px
  color:$black

.sidebar h4
  font:20px/25px $helv

.sidebar p
  bodytext :0


#messageform
  float:left
  width:600px
  background-color:$red
  margin-top:100px
  padding:20px
  display:block
  overflow:hidden

#messageform h3
  text-align:center
  font:30px/30px $helv
  color:$black
  display:block

#messageform div
  display:block
  float:left
  width:600px
  margin: 10px 0 0 0

#messageform label
  font: 20px/25px $helv
  margin-right:20px
  width:150px
  display:block
  float:left

#messageform input,textarea
  display:block
  float:left
  border-radius:5px
  background-color:$white
  font: $bodytext
  color:black
  width:400px

#messageform #submitmessage
  center:0
  background-color:$darkblue
  width:200px
  color:$white
  text-decoration:none
  height:50px
  text-align:center
  font: 20px/50px $helv

#messageform #submitmessage:active
  background-color:$black
