

#mosaicpage h2
  color:$red

#newmessagebutton
  defaultbutton 0
  width:150px
  fixed: top 40px right 20px

#newmessagebutton:active
  background-color:$black

#mosaicpage p.description
  bodytext :0
  display:block;
  width:300px;
  float:left
  margin: 20px

#messageList
  width:400px
  display:block
  float:left;
  color:$black
  bodytext:0

#messageList .message
  display:block;
  height:90px;
  background-color:$red
  margin-bottom:20px
  float:left


#messageList .message span
  display:block;
  float:left;
  margin: 10px

#messageList span.snippet
  width:250px;
#messageList span.writername
  width:100px;


#messagedialog
  dialog :0

#messageform
  dialogform :0



#messageform h3
  text-align:center
  font:30px/30px $helv
  color:$black
  display:block

#messageform div
  display:block
  float:left
  width:600px
  margin: 10px 0 0 0

#messageform label
  dialogLabel 0

#messageform input,textarea
  dialogInput 0

#messageform #submitmessage
  defaultbutton 0
  center:0
  width:200px

#messageform #submitmessage:active
  activedefaultbutton

#messageform .closebutton
  dialogCloseButton 0

#messageform .closebutton:active
  activeDialogCloseButton 0
