#toolbar
  fixed: top left
  display:block
  background: $darkgrey
  height: 30px
  width:100%

#toolbar a
  display:block
  float: right
  margin: 0 5px 0 5px
  height: 30px;
  color: $white
  text-decoration:none
  font: 24px/30px Helvetica, Arial, sans-serif

#toolbar a:hover
  color: $red