#toolbar
  fixed: top left
  display:block
  background: $black
  height: 30px
  width:100%

#toolbar a
  display:block
  float: right
  margin: 0 10px 0 10px
  height: 30px;
  color: $silver
  text-decoration:none
  font: 24px/30px $helv

#toolbar a:hover
  color: $white