#messagedialog
  dialog :0

#messageform h3
  text-align:center
  font:30px/30px $helv
  color:$black
  display:block

#messageform div
  display:block
  float:left
  width:600px
  margin: 10px 0 0 0

#messageform label
  dialogLabel 0

#messageform input,textarea
  dialogInput 0

#messageform #submitmessage
  defaultbutton 0
  center:0
  width:200px

#messageform #submitmessage:active
  activedefaultbutton

#messageform .closebutton
  dialogCloseButton 0

#messageform .closebutton:active
  activeDialogCloseButton 0
