#messageform
  dialogform :0

#viewmessagedialog
  dialog :0

#messagedisplaybox
  dialogform :0
  font: 24px/30px $helv

#messagedisplaybox div
  text-align:justified
  width:600px
  margin: 30px 0 0 0

#messagedisplaybox .closebutton
  background-color: $red

#messagedisplaybox #snippetdisplay
  display:block;
  float:left
  margin: 0 0 30px 0
  text-align:center

#messagedisplaybox #signature
  text-align:center