#messageform
  dialogform :0

#viewmessagedialog
  dialog :0

#messagedisplaybox
  dialogform :0
  background-color:$darkblue
  color:$lightgrey
  font: 25px/30px $helv

#messagedisplaybox div
  text-align:justified
  margin: 20px

#messagedisplaybox .closebutton
  background-color: $red